<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Категории</h1>
            </div>
        </div>
    </div>
    <!--/.page-header-->

    <div class="bs-docs-section">
        <div class="row" th:each="category, iterator : ${categories}">
            <div class="col-lg-12">
                <a th:href="@{'/category/' + ${category.id} + '/'}" th:text="${category.name}"></a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.bs-docs-section -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:include="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

</body>

</html>