<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Добавление/Редактирование Поста</h1>
            </div>
        </div>
    </div>
    <!--/.page-header-->

    <div class="bs-docs-section">
        <div class="row">
            <form th:action="${formAction}" th:object="${post}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}" />

                <div class="form-group mx-sm-3 mb-2">
                    Категория:
                    <select class="form-group" th:field="*{category.id}">
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    Название:
                    <input type="text" th:field="*{name}" placeholder="Название" required="required" class="form-control" />
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    Image:
                    <input type="file" name="imageFile" id="imageFile" />
                    <br />
                    <input type="hidden" th:field="*{image}" />
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    Краткое содержание:
                    <textarea th:field="*{previewContent}"></textarea>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    Контент:
                    <textarea th:field="*{content}"></textarea>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    Дата публикации:
                    <input th:field="*{createdate}" placeholder="dd.MM.yyyy HH:mm"/>
                </div>
                <div class="btn btn-primary mb-2">
                    <button type="submit" class="btn btn-primary submit">Сохранить</button>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.bs-docs-section -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>
<script src="/static/default/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector:'textarea',
        plugins: "image",
        menubar: "insert",
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image | help'

/*
  automatic_uploads: true,
  images_upload_url: 'postAcceptor.php',
  images_reuse_filename: true,
  images_upload_base_path: '/some/basepath'
*/
    });
</script>

</body>

</html>