<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="${category.name}"></h1>
            </div>
        </div>
    </div>
    <!--/.page-header-->

    <div class="bs-docs-section">
        <div class="row" th:each="post: ${posts}">
            <div class="col-lg-12">
                <h3><a th:href="@{'/post/' + ${post.id} + '/'}" th:text="${post.name}"></a></h3>
            </div>
            <div class="col-lg-12">
                <p th:text="${post.previewContent}"></p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.bs-docs-section -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:include="inc/footer.inc::footer"></footer>

</body>

</html>